* {
  font-family: Garamond;
  text-align: center;
}

body {
  margin: 0;
}

main {
  display: flex;
}

#left-container {
  width: 72%;
  display: flex;
  flex-direction: column;
}

#l-item1 {
  background-color: #795548;
  font-size: 170%;
}

#l-item2 {
  height: 400px;
}

#container-right {
  display: flex;
  flex-direction: column;
  width: 28%;
}

#item-1,
#item-2 {
  background-color: #bcaaa4;
  color: #795548;
  height: 400px;
}

#footer {
  background-color: #795548;
  color: white;
  padding: 20px;
}

table {
  margin: auto;
  width: 80%;
  border: 1px solid #795548;
}

tr:hover {
  background-color: sienna;
  color: white;
}

h4 {
  font-size: 200%;
}

img {
  padding: 20px;
  border-radius: 40px;
}

a {
  color: white;
}

input[type="radio"] {
  margin: 7px;
}
